/* general */

:root {
    --black: #1E1928;
    --back-one: #EDE6DD;
    --back-two: #FFD394;
    --red: #ff0000;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    color: var(--black);
    font-family: "Inter", sans-serif;
    text-decoration: none;
    list-style: none;
    transition: 0.3s;
    scroll-behavior: smooth;
    cursor: default;
}

body {
    min-height: 100vh;
}


.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 0 5px;
}

h3 {
    position: relative;
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: 500;
    color: var(--black);

    &::before {
        content: '';
        position: absolute;
        bottom: -10px;
        height: 2px;
        width: 40px;
        background-color: black;
    }
}

#center {
    text-align: center;
    font-size: 36px;

    &::before {
        right: 50%;
        transform: translate(50%);
    }

}


/* scrollTop */


#scroll-btn {
    opacity: 0;
    width: 60px;
    aspect-ratio: 1;
    color: #fff;
    background-color: var(--back-two);
    position: fixed;
    bottom: 20%;
    right: 10%;
    border: 2px solid #fff;
    border-radius: 50%;
    font: bold 40px monospace;
    transition: opacity 0.5s, transform 0.5s;
    cursor: pointer;

}

#scroll-btn.show {
    opacity: 1;
    transition: opacity 1s, transform 1s;
}



/* header burger menu */




.header__burger__menu {

    >.header__burger__menu__block {
        height: 40px;
        width: 40px;
        position: relative;
        z-index: 20;

        >.header__burger__item {
            position: absolute;
            height: 18%;
            width: 100%;
            background-color: var(--back-two);
        }

        >.one {
            top: 0;
        }

        >.two {
            top: 39%;
        }

        >.three {
            bottom: 0;
        }
    }

}

.header__burger__menu.active .one {
    transform: translateY(16.5px) rotate(45deg);
    background-color: #EDE6DD;
}

.header__burger__menu.active .two {
    opacity: 0;
}

.header__burger__menu.active .three {
    transform: translateY(-16.5px) rotate(-45deg);
    background-color: #EDE6DD;
}

.header__burger__menu__block.active{
    position: fixed;
    right: 4vw;
    top: 10svh;
}



/* header menu burger */



.burger__menu{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 211, 148, 0.8);
    z-index: 10;
}

.burger__menu.active{
    right: 0;
}



/* header */




header {

    background-color: var(--back-one);

    >.wrapper {

        >.header__block {
            position: relative;
            min-height: 25vh;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            >.header__output {
                >.header__list {
                    display: flex;
                    gap: 40px;

                    >li {
                        >a {
                            font-size: 18px;
                        }
                    }
                }
            }

            >.logo {

                display: flex;
                align-items: center;
                cursor: pointer;

                >.logo__text {
                    text-transform: capitalize;
                    font-family: "Imperial Script", cursive;
                    font-size: 1.4rem;
                }

                >img {
                    height: 90px;
                    width: 90px;
                }
            }

            >.header__lang {

                display: flex;
                align-items: center;
                gap: 15px;

                >.lang__switch {
                    position: relative;
                    outline: 4px solid var(--back-two);
                    border-radius: 30px;
                    width: 60px;
                    height: 30px;
                    transition: 0.3s;

                    >.lang__switch__toggle {
                        position: absolute;
                        outline: 2px solid var(--back-one);
                        background: url(../img/flagImg/ua.png);
                        background-size: cover;
                        cursor: pointer;
                        height: 100%;
                        width: 50%;
                        border-radius: 50%;
                    }

                    >.lang__switch__toggle.en {
                        background: url(../img/flagImg/uk.png);
                        background-size: cover;
                        right: 0;
                    }

                    >.lang__switch__block {
                        display: flex;
                        justify-content: space-around;

                        >.lang__switch__name {
                            padding-top: 8%;
                        }
                    }
                }



            }
        }

    }
}

.header__list li > a{
    position: relative;
    cursor: pointer;
}

.header__list li > a::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 50%;
    background-color: var(--black);
    left: -10%;
    bottom: -5px;
    transition: 0.3s;
    opacity: 0;
}

.header__list li > a:hover::before {
    left: 0;
    opacity: 1;
}



/* description */



.description {
    background: url(../img/stocks/wheat-background.jpg);
    background-position: center;
    background-size: cover;
}


.description__block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 75vh;
    min-width: 100%;

    >.description__title {

        cursor: default;

        >h3 {
            text-align: right;
            font-size: 48px;
            font-weight: 700;
            color: var(--white);
        }

        .right::before {
            background-color: var(--back-one);
            height: 4px;
            width: 15%;
            right: 0;
            bottom: -20px;
        }
    }

    >img {
        object-fit: cover;
        height: 100%;
        width: 65%;
    }
}



/* about me */



.about__us {
    background-color: var(--back-one);
}

.about__us__block {
    padding: 48px 0;
    text-align: left;
    width: 100%;

    >h3 {
        font-style: italic;
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        margin: 96px 0;
        opacity: 0.4;

        &::before {
            left: 50%;
            transform: translate(-50%);
        }
    }

    >.about__us__block__des {
        display: flex;
        justify-content: space-between;
        align-items: center;


        >img {
            object-fit: cover;
            height: 100%;
            width: 50%;
        }

        >.about__us__block__des__text {
            

            >h3::before {
                right: 0;
            }

            >.center {
                text-align: center;
            }

            >#grains {
                >li {
                    padding: 2px;
                    list-style-position: inside;
                    text-align: center;
                }
            }

            >.about__us__block__des__text__db__list {

                display: flex;
                justify-content: flex-end;
                
                #customs {
                    margin-top: 16px;

                    >ul {

                        >li {
                            padding: 2px;
                            text-align: left;
                            list-style-image: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 511.999 511.999" xml:space="preserve" width="24px" height="24px" fill="%23000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><rect x="212.569" y="135.161" style="fill:%23B27214;" width="91.433" height="246.869"></rect><g><path style="fill:%23E09B2D;" d="M227.076,346.266c17.875,17.875,28.927,42.562,28.927,69.832c-54.551,0-98.77-44.219-98.77-98.759 C184.503,317.339,209.201,328.391,227.076,346.266z"></path><path style="fill:%23E09B2D;" d="M227.076,269.177c17.875,17.875,28.927,42.562,28.927,69.832c-54.551,0-98.77-44.219-98.77-98.759 C184.503,240.25,209.201,251.302,227.076,269.177z"></path><path style="fill:%23E09B2D;" d="M227.076,192.088c17.875,17.875,28.927,42.562,28.927,69.832c-54.551,0-98.77-44.219-98.77-98.759 C184.503,163.161,209.201,174.212,227.076,192.088z"></path><path style="fill:%23E09B2D;" d="M240.448,131.605c9.84,15.361,15.555,33.624,15.555,53.225c-54.551,0-98.77-44.219-98.77-98.759 c27.27,0,51.968,11.052,69.843,28.927C232.105,120.027,236.597,125.593,240.448,131.605z"></path></g><g><path style="fill:%23F7B239;" d="M354.762,317.339c0,54.54-44.219,98.759-98.759,98.759c0-27.27,11.052-51.957,28.927-69.832 C302.794,328.391,327.481,317.339,354.762,317.339z"></path><path style="fill:%23F7B239;" d="M354.762,240.25c0,54.54-44.219,98.759-98.759,98.759c0-27.27,11.052-51.957,28.927-69.832 C302.794,251.302,327.481,240.25,354.762,240.25z"></path><path style="fill:%23F7B239;" d="M354.762,163.161c0,54.54-44.219,98.759-98.759,98.759c0-27.27,11.052-51.957,28.927-69.832 C302.794,174.212,327.481,163.161,354.762,163.161z"></path><path style="fill:%23F7B239;" d="M354.762,86.071c0,54.54-44.219,98.759-98.759,98.759c0-19.601,5.715-37.865,15.555-53.225 c3.852-6.012,8.343-11.578,13.372-16.606C302.794,97.123,327.481,86.071,354.762,86.071z"></path><path style="fill:%23F7B239;" d="M256.003,8.57c33.144,33.144,37.796,83.993,13.978,122.12c-3.897,6.24-8.56,12.138-13.978,17.555 c-5.429-5.417-10.092-11.315-13.989-17.555c-9.966-15.944-14.938-34.116-14.938-52.288C227.076,53.132,236.711,27.863,256.003,8.57 z"></path></g><g><circle style="fill:%23FFFFFF;" cx="324.574" cy="347.743" r="8.572"></circle><circle style="fill:%23FFFFFF;" cx="324.574" cy="272.311" r="8.572"></circle><circle style="fill:%23FFFFFF;" cx="324.574" cy="193.45" r="8.572"></circle><circle style="fill:%23FFFFFF;" cx="324.574" cy="119.732" r="8.572"></circle><circle style="fill:%23FFFFFF;" cx="257.143" cy="47.157" r="8.572"></circle></g><path style="fill:%23333333;" d="M354.761,154.586c-5.926,0-11.74,0.49-17.408,1.42c16.182-18.799,25.979-43.243,25.979-69.936 c0-4.734-3.838-8.572-8.572-8.572c-23.543,0-45.335,7.624-63.049,20.527c1.177-6.406,1.785-12.965,1.785-19.618 c0-28.67-11.165-55.623-31.438-75.896c-3.348-3.348-8.775-3.348-12.122,0c-20.273,20.272-31.437,47.226-31.437,75.896 c0,6.653,0.609,13.212,1.785,19.618c-17.714-12.902-39.506-20.527-63.049-20.527c-4.734,0-8.572,3.838-8.572,8.572 c0,26.684,9.79,51.121,25.965,69.918c-5.697-0.922-11.508-1.401-17.393-1.401c-4.734,0-8.572,3.838-8.572,8.572 c0,26.692,9.797,51.137,25.98,69.936c-5.668-0.929-11.481-1.419-17.408-1.419c-4.734,0-8.572,3.838-8.572,8.572 c0,26.692,9.797,51.137,25.98,69.936c-5.668-0.929-11.482-1.419-17.408-1.419c-4.734,0-8.572,3.838-8.572,8.572 c0,56.299,43.57,102.609,98.762,106.99v79.102c0,4.734,3.838,8.572,8.572,8.572s8.572-3.838,8.572-8.572v-79.102 c55.191-4.382,98.761-50.693,98.761-106.99c0-4.734-3.838-8.572-8.572-8.572c-5.927,0-11.74,0.49-17.408,1.419 c16.184-18.799,25.979-43.244,25.979-69.936c0-4.734-3.838-8.572-8.572-8.572c-5.926,0-11.74,0.49-17.408,1.419 c16.182-18.799,25.979-43.244,25.979-69.936C363.333,158.424,359.495,154.586,354.761,154.586z M255.999,347.581L255.999,347.581 L255.999,347.581c5.927,0,11.74-0.49,17.409-1.419c-7.147,8.302-13.046,17.704-17.409,27.916 c-4.361-10.212-10.262-19.613-17.409-27.916C244.259,347.09,250.073,347.581,255.999,347.581z M255.999,296.988 c-4.361-10.212-10.261-19.613-17.408-27.916c5.668,0.929,11.481,1.419,17.408,1.419l0,0l0,0c5.926,0,11.74-0.49,17.408-1.419 C266.261,277.374,260.36,286.777,255.999,296.988z M256.03,219.832c-4.274-10.03-10.096-19.409-17.351-27.833 c5.64,0.919,11.425,1.405,17.321,1.405l0,0l0,0c5.926,0,11.74-0.49,17.408-1.419C266.277,200.267,260.387,209.646,256.03,219.832z M265.019,175.811c4.245-42.543,38.18-76.478,80.723-80.723C341.496,137.632,307.561,171.568,265.019,175.811z M256,21.32 c13.185,16.068,20.355,36.027,20.355,57.087s-7.171,41.019-20.355,57.088c-13.185-16.069-20.355-36.028-20.355-57.088 S242.814,37.388,256,21.32z M246.98,175.811c-42.543-4.245-76.478-38.18-80.723-80.723C208.8,99.334,242.735,133.269,246.98,175.811 z M246.98,252.901c-42.543-4.245-76.478-38.18-80.723-80.723C208.8,176.423,242.735,210.357,246.98,252.901z M246.98,329.989 c-42.543-4.245-76.478-38.18-80.723-80.723C208.8,253.511,242.735,287.446,246.98,329.989z M166.257,326.356 c42.543,4.245,76.478,38.18,80.723,80.723C204.436,402.833,170.501,368.898,166.257,326.356z M265.019,407.078 c4.245-42.543,38.18-76.478,80.723-80.723C341.496,368.898,307.561,402.833,265.019,407.078z M265.019,329.989 c4.245-42.543,38.18-76.478,80.723-80.723C341.496,291.81,307.561,325.744,265.019,329.989z M265.014,252.902 c2.04-20.683,11.083-39.865,25.974-54.756c14.891-14.89,34.071-23.933,54.755-25.974 C341.501,214.723,307.563,248.661,265.014,252.902z"></path></g></svg>');
                        }
                    }

                }

                >#ports {

                    >ul {
                        >li {
                            margin: 10px 0;
                            list-style-image: none;
                            list-style:circle;
                        }
                    }
                }

            }
        }
    }

    >#about__us__offer{
        justify-content: center;

        >.about__us__block__des__text {

            >.center {
                padding-bottom: 30px;
            }

            >#grains {

                > .grains__list{

                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-column-gap: 6vw;
                    grid-row-gap: 4vh;


                    > .grains__list__item{

                        text-align: center;

                        > img{
                            object-fit: cover;
                            border: 4px solid var(--back-two);
                            border-radius: 50%;
                            cursor: pointer;
                            height: 200px;
                            width: 200px;
                        }

                        > img:hover{
                            transform: translateY(-10px);
                        }

                        > h4{
                            padding-top: 10px;
                        }

                    }
                }
            }
        }
    }

    >.about__us__block__des.first {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;


        >img {
            object-fit: cover;
            height: 100%;
            width: 50%;
        }

        >.about__us__block__des__text {

            >h3::before {
                left: 0;
            }

            >.center {
                text-align: center;
            }

            >#grains {
                >li {
                    padding: 2px;
                    list-style-position: inside;
                    text-align: center;
                }
            }

            >.about__us__block__des__text__db__list {

                display: flex;
                justify-content: space-around;

                >#ports{
                    margin-top: 16px;

                    >ul {
                        >li {
                            padding: 2px;
                        }
                    }

                }

                >#ports {

                    >ul {
                        text-align: center;
                        >li {
                            list-style-image: url('data:image/svg+xml,<svg fill="%23000000" height="24px" width="24px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><g><g><path d="M503.467,132.267h-358.4c-4.719,0-8.533,4.412-8.533,9.847v109.619c0,4.71,3.823,8.533,8.533,8.533h358.4 c4.71,0,8.533-3.823,8.533-8.533V142.114C512,136.678,508.186,132.267,503.467,132.267z"></path></g></g><g><g><path d="M503.467,277.333H264.533c-4.71,0-8.533,3.823-8.533,8.533v50.56c-0.179,2.074,0.393,4.164,1.664,5.862 c1.604,2.15,4.139,3.422,6.835,3.422h0.009l25.634-0.026c0.043,18.782,15.326,34.048,34.125,34.048 c18.825,0,34.133-15.309,34.133-34.133h51.2c0,18.825,15.309,34.133,34.133,34.133c18.825,0,34.133-15.309,34.133-34.133h25.6 c4.71,0,8.533-3.823,8.533-8.533v-51.2C512,281.156,508.177,277.333,503.467,277.333z M324.267,362.667 c-9.412,0-17.067-7.654-17.067-17.067c0-9.412,7.654-17.067,17.067-17.067c9.412,0,17.067,7.654,17.067,17.067 C341.333,355.012,333.679,362.667,324.267,362.667z M443.733,362.667c-9.412,0-17.067-7.654-17.067-17.067 c0-9.412,7.654-17.067,17.067-17.067c9.412,0,17.067,7.654,17.067,17.067C460.8,355.012,453.146,362.667,443.733,362.667z"></path></g></g><g><g><path d="M230.4,277.333H128c-4.71,0-8.533-3.823-8.533-8.533v-85.333c0-4.71-3.823-8.533-8.533-8.533H42.667 c-3.49,0-6.63,2.125-7.927,5.367L0.614,265.617C0.41,266.692,0.205,267.733,0,268.8v85.333c0,4.71,3.823,8.533,8.533,8.533h30.345 c5.922,10.155,16.811,17.067,29.389,17.067c18.825,0,34.133-15.309,34.133-34.133h34.133c0,18.825,15.309,34.133,34.133,34.133 S204.8,364.425,204.8,345.6h25.6c4.71,0,8.533-3.823,8.533-8.533v-51.2C238.933,281.156,235.11,277.333,230.4,277.333z M27.563,260.267c-3.055,0-5.12-3.106-3.934-5.922l17.946-42.667c0.657-1.579,2.21-2.611,3.925-2.611h27.034 c2.355,0,4.267,1.911,4.267,4.267V256c0,2.355-1.911,4.267-4.267,4.267H27.563z M68.267,362.667 c-9.412,0-17.067-7.654-17.067-17.067c0-9.412,7.654-17.067,17.067-17.067c9.412,0,17.067,7.654,17.067,17.067 C85.333,355.012,77.679,362.667,68.267,362.667z M170.667,362.667c-9.412,0-17.067-7.654-17.067-17.067 c0-9.412,7.654-17.067,17.067-17.067c9.412,0,17.067,7.654,17.067,17.067C187.733,355.012,180.079,362.667,170.667,362.667z"></path></g></g></g></svg>');
                        }
                    }
                }

            }
        }
    }

    >.slogan {
        position: relative;
        color: rgba(30, 25, 40, 0.4);

        &::before {
            background-color: rgba(30, 25, 40, 0.4);
        }
    }

    >.slogan::after {
        content: url('data:image/svg+xml,<svg fill="%23000000" width="128px" height="128px" viewBox="0 0 64 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><rect id="Icons" x="-640" y="0" width="1280" height="800" style="fill:none;"></rect><g id="Icons1" serif:id="Icons"><g id="Strike"></g><g id="H1"></g><g id="H2"></g><g id="H3"></g><g id="list-ul"></g><g id="hamburger-1"></g><g id="hamburger-2"></g><g id="list-ol"></g><g id="list-task"></g><path id="quote-1" d="M27.194,12l0,8.025c-2.537,0.14 -4.458,0.603 -5.761,1.39c-1.304,0.787 -2.22,2.063 -2.749,3.829c-0.528,1.766 -0.793,4.292 -0.793,7.579l9.303,0l0,19.145l-19.081,0l0,-18.201c0,-7.518 1.612,-13.025 4.836,-16.522c3.225,-3.497 7.973,-5.245 14.245,-5.245Zm28.806,0l0,8.025c-2.537,0.14 -4.457,0.586 -5.761,1.338c-1.304,0.751 -2.247,2.028 -2.828,3.829c-0.581,1.8 -0.872,4.344 -0.872,7.631l9.461,0l0,19.145l-19.186,0l0,-18.201c0,-7.518 1.603,-13.025 4.809,-16.522c3.207,-3.497 7.999,-5.245 14.377,-5.245Z" style="fill-rule:nonzero;"></path><g id="trash"></g><g id="vertical-menu"></g><g id="horizontal-menu"></g><g id="sidebar-2"></g><g id="Pen"></g><g id="Pen1" serif:id="Pen"></g><g id="clock"></g><g id="external-link"></g><g id="hr"></g><g id="info"></g><g id="warning"></g><g id="plus-circle"></g><g id="minus-circle"></g><g id="vue"></g><g id="cog"></g><g id="logo"></g><g id="radio-check"></g><g id="eye-slash"></g><g id="eye"></g><g id="toggle-off"></g><g id="shredder"></g><g id="spinner--loading--dots-" serif:id="spinner [loading, dots]"></g><g id="react"></g><g id="check-selected"></g><g id="turn-off"></g><g id="code-block"></g><g id="user"></g><g id="coffee-bean"></g><g id="coffee-beans"><g id="coffee-bean1" serif:id="coffee-bean"></g></g><g id="coffee-bean-filled"></g><g id="coffee-beans-filled"><g id="coffee-bean2" serif:id="coffee-bean"></g></g><g id="clipboard"></g><g id="clipboard-paste"></g><g id="clipboard-copy"></g><g id="Layer1"></g></g></g></svg>');
        position: absolute;
        bottom: 25%;
        left: 0;
        opacity: 0.4;
    }

}


.second {
    padding: 48px 0;
    text-align: right;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    >.about__us__block__des__text {

        >h3::before {
            right: 0;
        }
    }
}



/* requires */



.requires {
    background: url(../img/stocks/combain-at-wheat-pole.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.requires__block {
    padding: 48px 0;
    width: 100vw;

    >.requires__block__des {

        justify-self: center;

        >.requires__block__des__text {

            >h3 {
                font-size: 36px;
                font-weight: 600;
                text-align: center;
                border-radius: 20px;
                outline: 2px solid var(--back-two);
                background-color: rgba(255, 211, 148, 0.5);
                padding: 20px;
                color: var(--white);
            }

            >h3::before {
                bottom: 10px;
                background-color: var(--white);
            }

            >.requires__block__ol {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 40px;
                padding: 20px;
                background-color: rgba(255, 211, 148, 0.6);
                border-radius: 20px;
                box-shadow: 10px 10px 16px var(--black);
                outline: 2px solid var(--back-two);

                >.requires__block__li {
                    font-size: 18px;
                    font-style: italic;
                    color: var(--white);
                    padding: 10px;
                    list-style: decimal;

                    &:hover {
                        filter: drop-shadow(5px 2px 16px var(--black));
                        text-decoration: underline;
                    }
                }

            }
        }
    }

}




/* contacts */



.contacts {
    background-color: var(--back-two);
}

.contacts__block {
    padding: 48px 0;

    >h3 {
        padding-bottom: 48px;

        &::before {
            bottom: 40%;
        }
    }

    >.contacts__block__form {
        background-color: var(--back-one);
        opacity: 0.8;
        border-radius: 20px;
        box-shadow: 2px 10px 30px var(--black);
        outline: 2px solid var(--back-two);
        text-align: center;
        padding: 20px 10px;
        width: 100%;

        > input {
            border: none;
            border-radius: 15px;
            cursor: pointer;
            margin: 5px 0;
            padding: 10px;
            width: 40%;
            caret-color: var(--black);


            &::placeholder {
                font-size: 12px;
            }

            &:user-invalid {
                border: 1px solid var(--red);
            }

            &:focus {
                font-style: italic;
                outline: 1px solid var(--back-two);
                box-shadow: 2px 1px 16px var(--black);

                &::placeholder {
                    font-size: 12px;
                    font-style: italic;
                }
            }
        }

        >.contacts__block__form__btn {
            background-color: var(--back-two);
            border-radius: 20px;
            border: none;
            cursor: pointer;
            margin-top: 16px;
            padding: 10px;
            width: 20%;
            font-size: 16px;
            font-weight: 600;

            &:hover {
                background-color: var(--black);
                color: var(--back-one);
            }

            &:active {
                box-shadow: 2px 1px 16px var(--black);
            }
        }

        >#alert {
            font-size: 10px;
            color: var(--red);
        }

    }

}



/* follow */


.follow {
    background-color: var(--back-one);
}


.follow__block {
    padding: 48px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

    >h3 {
        font-size: 36px;
        font-weight: 700;

        &::before {
            height: 4px;
            width: 15%;
            bottom: -20px;
        }
    }


    >.follow__link {

        >a {
            display: flex;
            flex-direction: column;
            align-items: center;

            cursor: pointer;

            >p {
                margin-top: 5px;
                font-size: 14px;
                text-align: center;
                cursor: pointer;
            }

            &:hover {
                transform: translateY(-5px);
            }
        }
    }
}



/* footer */




footer {
    background-color: var(--black);
}

.footer__block {
    padding: 48px 0;
    width: 100%;


    >.footer__info {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;

        &::before {
            content: '';
            background-color: var(--back-one);
            position: absolute;
            height: 2px;
            width: 100%;
            bottom: -48px;
        }



        >.footer__output {

            >.footer__list {

                >li {
                    position: relative;
                    padding: 10px 0;

                    >a {
                        cursor: pointer;
                        color: var(--back-one);

                    }
                }
            }
        }

        >.footer__contact {
            >a {
                cursor: pointer;
                color: var(--back-one);
                position: relative;

                &:hover {
                    color: var(--back-two);

                    &::before {
                        animation: shake 2s infinite;
                    }
                }

                &::before {
                    content: url('data:image/svg+xml,<svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(90)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M21 5.5C21 14.0604 14.0604 21 5.5 21C5.11378 21 4.73086 20.9859 4.35172 20.9581C3.91662 20.9262 3.69906 20.9103 3.50103 20.7963C3.33701 20.7019 3.18146 20.5345 3.09925 20.364C3 20.1582 3 19.9181 3 19.438V16.6207C3 16.2169 3 16.015 3.06645 15.842C3.12515 15.6891 3.22049 15.553 3.3441 15.4456C3.48403 15.324 3.67376 15.255 4.05321 15.117L7.26005 13.9509C7.70153 13.7904 7.92227 13.7101 8.1317 13.7237C8.31637 13.7357 8.49408 13.7988 8.64506 13.9058C8.81628 14.0271 8.93713 14.2285 9.17882 14.6314L10 16C12.6499 14.7999 14.7981 12.6489 16 10L14.6314 9.17882C14.2285 8.93713 14.0271 8.81628 13.9058 8.64506C13.7988 8.49408 13.7357 8.31637 13.7237 8.1317C13.7101 7.92227 13.7904 7.70153 13.9509 7.26005L13.9509 7.26005L15.117 4.05321C15.255 3.67376 15.324 3.48403 15.4456 3.3441C15.553 3.22049 15.6891 3.12515 15.842 3.06645C16.015 3 16.2169 3 16.6207 3H19.438C19.9181 3 20.1582 3 20.364 3.09925C20.5345 3.18146 20.7019 3.33701 20.7963 3.50103C20.9103 3.69907 20.9262 3.91662 20.9581 4.35173C20.9859 4.73086 21 5.11378 21 5.5Z" stroke="%23EDE6DD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></g></svg>');
                    position: absolute;
                    left: -20%;
                }
            }


        }

    }

    >.footer__sign {
        margin-top: 10vh;

        display: flex;
        justify-content: space-between;

        >span {
            font-size: 12px;
            color: var(--back-one);
        }

        >a {
            cursor: pointer;
            font-size: 12px;
            color: var(--back-one);
        }

    }

}

@keyframes shake {

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: rotate(-5deg);
    }

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        transform: rotate(5deg);
    }
}


.footer__list li>a::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 35%;
    background-color: var(--back-one);
    left: -10%;
    bottom: 5px;
    transition: 0.3s;
    opacity: 0;
}

.footer__list li>a:hover::before {
    left: 0;
    opacity: 1;
}
